<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <app-quiz></app-quiz>
</div>
<!-- <div style="text-align:center; margin: auto; width: 100%;">
  <h1>
    Test Your Programming Knowledge!
  </h1>
  <br>
  <h2>Choose your quiz option:</h2>
  <select name="quizTopic" id="quizTopic" style="font-size: 100%; font-weight: bold;">
    <option id="Java">Java</option>
    <option id="Python">Python</option>
    <option id="JavaScript">JavaScript</option>
  </select>
  <br>
  <br>
  <h4>MCQ Quiz</h4>
  <span>(1 of 10)</span>
  
  <div class="quizform" style="width:450px; margin:0 auto;">
    <div class="question bg-white p-3 border-bottom" style="text-align: left;">
        <div class="d-flex flex-row align-items-center question-title">
            <h3 class="text-danger">Q.</h3>
            <h4 class="mt-1 ml-2">Which of the following country has largest population?</h4>
        </div>
        <div class="ans ml-2">
            <label class="radio"> <input type="radio" id="brazil"  name="one" value="brazil"> <span>Brazil</span>
            </label>
        </div>
        <div class="ans ml-2">
            <label class="radio"> <input type="radio" id="Germany" name="one" value="Germany"> <span>Germany</span>
            </label>
        </div>
        <div class="ans ml-2">
            <label class="radio"> <input type="radio" id="Indonesia" name="one" value="Indonesia"> <span>Indonesia</span>
            </label>
        </div>
        <div class="ans ml-2">
            <label class="radio"> <input type="radio" id="Russia" name="one" value="Russia"> <span>Russia</span>
            </label>
        </div>
    </div>
    <br>
    <div style="text-align: center; margin: auto; float: right;">
      <button type="button">Previous</button>
      <button type="button">Next</button>
    </div>
  </div>



</div> -->

                
 
    
<router-outlet></router-outlet>
